[Desktop Entry]
Type=Application
Exec=firefox {{ kiosk_user_flags }} {{ kiosk_user_url }}
Hidden=false
X-MATE-Autostart-enabled=true
X-MATE-Autostart-Delay=0
Name=Firefox kiosk
Comment=Firefox in kiosk mode