{
  "policies": {
    "BlockAboutConfig": true,
    "DisableSetDesktopBackground": true,
    "BlockAboutSupport": true,
    "DisableDeveloperTools": true,
    "DisableFormHistory": true,
    "DontCheckDefaultBrowser": true,
    "Homepage": {
      "URL": "http://172.16.36.1/cws/cws",
      "Locked": true,
      "StartPage": "homepage"
    }
  }
}