{{ ansible_managed | comment }}

[defaults]

# Future default, to avoid deprecation warnings
interpreter_python = auto

# We like colors
nocolor = 0

[inventory]

[privilege_escalation]

[paramiko_connection]

[ssh_connection]

[persistent_connection]

[accelerate]

[selinux]

[colors]

[diff]
